<div class="container-fluid mt-3">
  <div class="row">
    <!--サイドバー-->
    <div class="col-md-3" style="min-height:100vh" >
      <%= render "public/posts/form", post: @post %>
      <div class="search mt-3 ml-2">
        <button type="button" class="btn btn-warning btn-block mt-2"
                data-toggle="collapse" data-target="#collapseSearch"
                aria-expanded="false" aria-controls="collapseSearch">
          検索
        </button>
        <div class="collapse" id="collapseSearch">
          <div class="card card-body">
            <%= render "public/searches/form" %>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-md-8 offset-md-1">
      <div class="col-md-12">
        <h3>みんなの投稿</h3>
        <%= render "index", posts: @posts %>
      </div>
    </div>
  </div>
</div>
