<div class="container-fluid mt-3">
  <div class="row">
    <!--サイドバー-->
    <div class="col-md-3" style="min-height:100vh" >
      <%= render 'public/posts/form', post: @post %>
      <div class="search mt-3 ml-2">
        <h4>検索</h4>
          <%= render 'public/searches/form' %>
      </div>
    </div>
    
    <div class="col-md-8 offset-md-1">
      <div class="col-md-12">
        <h3>みんなの投稿</h3>
        <%= render 'index', posts: @posts %>
      </div>
    </div>
  </div>
</div>
