<div class="container-fluid mt-3">
  <div class="row">
    <!--サイドバー-->
    <div class="col-md-3" style="min-height:100vh" >
      <%= render "public/posts/form", post: @post %>
      <!--<h5 class="mt-4"><%#= @user.name %>さんが フォローしているユーザー</h5>-->
      <%#= render "public/users/index", users: @users %>
      <button type="button" class="btn btn-warning btn-block mt-2"
              data-toggle="collapse" data-target="#collapseSearch"
              aria-expanded="false" aria-controls="collapseSearch">
        <i class="fa-solid fa-magnifying-glass"></i> 検索
      </button>
      <div class="collapse" id="collapseSearch">
        <div class="card card-body">
          <%= render "public/searches/form" %>
        </div>
      </div>
    </div>

    <!--メイン-->
    <div class="col-md-8 offset-md-1">
      <div class="col-md-12">
        <h3><%= @user.name %>さんを フォローしているユーザー</h3>
        <div class="row">
          <div class="col-md-12">
            <%= render "public/searches/user_index", users: @users %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>