<!--<div class="main-container">-->
  <div class="container-fluid main-container">
    <div class="row">
      <div class="col-md-8 d-flex align-items-center justify-content-center flex-column">
        <!--<div class="w-100">-->
          <div class="row justify-content-center">
            <div class="main-title mb-5">
              <h1>てて つなご</h1>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="sub-text">
              <p>今日、お子様と手をつなぎましたか？<br><br>
              今日、新しくできるようになったことは？<br><br>
              今日、気付いたら卒業していたことは？<br><br></p>
            </div>
          </div>
          
          <% if user_signed_in? %>
            <div class="row justify-content-center">
              <%= link_to "マイページへ", user_path(current_user), class: "btn btn-outline-info" %>
            </div>
          <% else %>
            <div class="row justify-content-center">
              <div class="button-wrap">
                <%= link_to "ログイン", new_user_session_path, class: "btn btn-outline-info" %>
                <%= link_to "新規登録", new_user_registration_path, class: "btn btn-outline-info" %>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="button-wrap mt-3">
                <%= link_to "ゲストログイン(お試し用)", users_guest_sign_in_path, method: :post, class: "btn btn-outline-info" %>
              </div>
            </div>
          <% end %>
        <!--</div>-->
      </div>
    </div>
  </div>
<!--</div>-->