@use '~bootstrap/scss/bootstrap';
@import 'simple_calendar';

// 全体用
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Zen Maru Gothic', sans-serif;
  background-color: #ffffcc;
  color: #5e432e;
  min-height: 100vh;
  position: relative;
  padding-bottom: 50px;
}

a {
  color: #5e432e;
}

// バリデーションエラー時のリスト表示"・"が要素からはみ出るため消去
ul {
  list-style: none;
}

header {
  height: 80px;
  width: 100%;
  background: #ffffff;
  text-decoration: none;
}

footer {
  height: 50px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: #ffffff;
  text-align: center;
}

// フラッシュメッセージ
.flash-message {
  // border-radius: 5px;
  padding: 10px 24px;
  margin: 0px;
}

.flash-message.notice {
  background-color: #bcdfff;
  color: #0067C0;
}

.flash-message.alert {
  background-color: #ffd4d1;
  color: #930403;
}

.main-container {
  background-image: url("../images/top.jpg");
  height: calc(100vh - 130px);
  background-size: cover;
  background-position: center;
}

// メインビジュアルを表示した際にヘッダー・フッターの隙間を無くす
.main-visual {
  background-image: url('../images/about.jpg');
  background-size: cover;
  background-position: center;
  height: calc(100vh - 130px);
}

//バリデーションエラー時のレイアウト崩れ対策
.field_with_errors {
  display: contents;
}

// 入力フォーム用説明文
.info {
   font-size: 12px;
}

// モーダルウィンドウ
#mask {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

#modal {
  position: fixed;   /* スクロールで移動しないようmodalの位置を固定します */
  top: 10vh;
  /* 以下3行：モーダルを左右中央揃えにする方法 */
  left: 0;
  right: 0;
  margin: 0 auto;
  transform: translate(0, 0) scale(1);
  transition: 0.2s;   /* transitionでアニメーションを作成 */
  z-index: 2;   /* マスクより上に重なるようにする */
  width: 90%;   /* showビューの幅に合わせて設定 */
  height: 80%;
  background-color: #ffffff;
  border-radius: 8px;
  overflow-y: scroll;
}

/* hiddenクラスで最初は表示されないようにする */
#mask.hidden {
  opacity: 0;
  visibility: hidden;
}

#modal.hidden {
  opacity: 0;
  visibility: hidden;
  transform: translate(0, 0) scale(0.8);   /* 大きさ0.8倍から等倍にモーダルが拡大される */
}

// モーダル表示画像サイズ
.show-image-size {
  max-width: 500px;
  height: auto;
  object-fit: contain;
}

// モーダル内コメント一覧表示調整
td.comment-nowrap {
  white-space: nowrap;
}