<div class="container">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6 mt-5 text-center">
      <p><b>本当に退会しますか？</b><br><br>
        ～～～～<br>
        ～～～～～～～～<br>
        退会する場合は、「退会する」をクリックしてください。
      </p>
      <div class="mt-3">
        <span><%= link_to "退会しない", user_path(@user), class: "btn btn-primary mr-2" %></span>
        <span><%= link_to "退会する", withdraw_user_path(@user), method: :patch, class: "btn btn-danger ml-2" %></span>
      </div>
    </div>
    <div class="col-3"></div>
  </div>
</div>

